@charset "UTF-8"

@import "../../../../_import.sass"
.orderList
	.flexWrap

		.pcBlock
			@include tab
				display: none
			@include tabup
				>div
					padding-right: 12px
					&:nth-last-of-type(1)
						padding-right: 0
					&:nth-of-type(1)
						width: 20%
					&:nth-of-type(2)
						width: 15%
					&:nth-of-type(3)
						width: 15%
					&:nth-of-type(4)
						width: 10%
					&:nth-of-type(5)
						width: 10%
					&:nth-of-type(6)
						width: 10%
					&:nth-of-type(7)
						width: 10%
					&:nth-of-type(8)
						width: 10%
	.icon_list
		display: flex
		align-items: center
		justify-content: flex-end
		>li
			margin-left: 16px
			&:nth-last-of-type(1)
				margin-right: 0
		button
			display: flex
			align-items: center








