@charset "UTF-8"


@import "../../_import.sass"


aside
	background-color: #fff
	border-right: 1px solid #e3e4e6
	height: 100vh
	@include tab
		display: none
	li
		position: relative
		@include rem(16)
	a,a:visited
		color: #000
	.hover

		background: #000
		a,a:visited
			color: #fff

	.menu_side
		position: relative

		.menu_list

			> a,a:visited
				display: block
				transition: .3s
				padding: 8px 8px

				&:hover
					color: #fff
				// 	background: #000


		.menu_contents
			background: #333
			z-index: 1
			display: none
			width: auto
			min-width: 100%
			position: absolute
			top: 0
			right: -100%
			&:before
				content: ""
				width: 0
				height: 0
				border-style: solid
				border-width: 10px 17px 10px 0
				border-color: transparent #333 transparent transparent
				position: absolute
				top: 10px
				left: -17px
				/* style */
			>ul
				flex-direction: column
			li
				width: 100%
				margin-top: 8px
				&:nth-last-of-type(1)
					margin-bottom: 8px


				a,a:visited
					color: #fff
					padding: 4px 8px
					line-height: 1.1em